<div class="header">
  <table>
    <tr>
      <td><img transform_attr="src" transform_value="images/qwebircsmall.png" alt="qwebirc" title="qwebirc"/></td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td><div class="title">qwebirc</div><div class="version">Change log</div></td>
    </tr>
  </table>
</div>
<div class="mainbody">
  <h2>Change log</h2>
  <p>More soon.</p>
  <input type="submit" value="Close" class="close" />
</div>